<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>


  <p> 
    Splurty was built by <a target="_blank" href="http://github.com/KyleNaizer">Kyle.</a> 
  
  </p> 
    A marketer, multimedia designer and teacher who is making currently making a transition into web development.
  </p>

  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'kyle.jpg', :class => 'img-responsive' %>
  </div>
  
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Kyle Naizer</h2>
    <br />
    <p>
      Kyle Naizer is a information technology professional, marketing developer, and web designer for a leading electrical construction firm in Texas. He helped train and transition a company of over 1000 employees to Google Apps for Work from Microsoft Exchange. And designed propsals and marketing materials for multi-million dollar construction bids. He has also worked in the online education industry as a course developer where he developed demigod-like abilities in Microsoft Word. 
    </p>
    <p>
      Prior to his current job he worked as an English teacher the JET Program in Japan. Later, Kyle pursued a graduate certificate in TESOL in South Korea and taught English to university students.  He recently decided to persue a career in web development.  He likes to study Japanese and Korean and enjoys the comforts and challenges of his home, Earth. 
    </p>
   </div>
       	
</div>

<br class="clear" />  
<br />
<br />
<br />
<br />
